
!Software Version V500R005C10SPC300
!Last configuration was saved at 2025-04-24 12:41:27 UTC
#
sysname FW_A
#
 l2tp domain suffix-separator @
#
undo info-center enable
#
ipv6
#
 ipsec sha2 compatible enable 
#
undo telnet server enable
undo telnet ipv6 server enable
#
clock timezone UTC add 00:00:00
#
 hrp enable
 hrp interface GigabitEthernet1/0/1 remote 172.16.1.2
 hrp track interface GigabitEthernet1/0/0
 hrp track interface GigabitEthernet1/0/1
 hrp track interface GigabitEthernet1/0/2
 hrp track interface GigabitEthernet1/0/3
 hrp track interface GigabitEthernet1/0/5
#
 update schedule location-sdb weekly Sun 02:58
#
 firewall defend action discard
#
 banner enable
#
 user-manage web-authentication security port 8887
 undo privacy-statement english
 undo privacy-statement chinese
page-setting
 user-manage security version tlsv1.1 tlsv1.2
password-policy
 level high
user-manage single-sign-on ad
user-manage single-sign-on tsm
user-manage single-sign-on radius
user-manage auto-sync online-user
#
 web-manager security version tlsv1.1 tlsv1.2
 web-manager enable
 web-manager security enable
#
firewall dataplane to manageplane application-apperceive default-action drop
#
 undo ips log merge enable
#
 decoding uri-cache disable
#
 update schedule ips-sdb daily 00:22
 update schedule av-sdb daily 00:22
 update schedule sa-sdb daily 00:22
 update schedule cnc daily 00:22
 update schedule file-reputation daily 00:22
#
ip vpn-instance default
 ipv4-family
#
ip-link check enable
ip-link name isp1
 destination 120.168.254.76 interface GigabitEthernet1/0/3 mode icmp
ip-link name isp2
 destination 183.230.40.83 interface GigabitEthernet1/0/5 mode icmp
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
ike proposal default
 encryption-algorithm aes-256 aes-192 aes-128 
 dh group14 
 authentication-algorithm sha2-512 sha2-384 sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 manager-user audit-admin 
  password cipher @%@%ov]MH5@$gQVS@u=>=,o6gIz]<V^zHbgrC41s@PD%j!d'Iz`g@%@%
  service-type web terminal 
  level 15 

 manager-user api-admin 
  password cipher @%@%v!h]'*L(N,~"J^HhC:o4sZhNkkiU*#Ep23e(tb4V%AkLZhQs@%@%
  level 15 

 manager-user admin 
  password cipher @%@%>ZnE6~pud4A/C#9mG4l=%'W_"Ku+4O$'|4pKel+imI\V'Wb%@%@%
  service-type web terminal 
  level 15 

 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
 bind manager-user audit-admin role audit-admin
 bind manager-user admin role system-admin
#
ospfv3 1
 router-id 5.5.5.5
#
l2tp-group default-lns
#
interface GigabitEthernet0/0/0
 undo shutdown
 ip binding vpn-instance default
 ip address 192.168.0.1 255.255.255.0
 alias GE0/METH
#
interface GigabitEthernet1/0/0
 undo shutdown
 ipv6 enable
 ip address 10.100.100.1 255.255.255.0
 ipv6 address 2002:78A8:FE16:100::1/64
 ospfv3 1 area 0.0.0.0
 service-manage ping permit
#
interface GigabitEthernet1/0/1
 undo shutdown
 ip address 172.16.1.1 255.255.255.0
#
interface GigabitEthernet1/0/2
 undo shutdown
 ipv6 enable
 ip address 10.200.201.1 255.255.255.0
 ipv6 address 2002:78A8:FE16:201::1/64
 ospfv3 1 area 0.0.0.0
 service-manage ping permit
#
interface GigabitEthernet1/0/3
 undo shutdown
 ip address 120.168.254.22 255.255.255.0
 vrrp vrid 1 virtual-ip 120.168.254.24 active
 service-manage ping permit
#
interface GigabitEthernet1/0/4
 undo shutdown
#
interface GigabitEthernet1/0/5
 undo shutdown
 ip address 183.230.40.84 255.255.255.0
 vrrp vrid 1 virtual-ip 183.230.40.86 active
 service-manage ping permit
#
interface GigabitEthernet1/0/6
 undo shutdown
#
interface Virtual-if0
#
interface NULL0
#
interface Tunnel0
 ipv6 enable
 ipv6 address 2002:78A8:FE16::2/64
 tunnel-protocol ipv6-ipv4 6to4
 source GigabitEthernet1/0/3
#
interface Tunnel1
 ipv6 enable
 ipv6 address 2002:B7E6:2854::1/64
 tunnel-protocol ipv6-ipv4 6to4
 source GigabitEthernet1/0/5
#
destination-nat address-group addressgroup88 0
 section 192.168.10.88 192.168.10.88
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/0
 add interface GigabitEthernet1/0/0
 add interface GigabitEthernet1/0/2
#
firewall zone untrust
 set priority 5
#
firewall zone dmz
 set priority 50
 add interface GigabitEthernet1/0/1
#
firewall zone name isp1 id 4
 set priority 10
 add interface GigabitEthernet1/0/3
 add interface Tunnel0
#
firewall zone name isp2 id 5
 set priority 15
 add interface GigabitEthernet1/0/5
 add interface Tunnel1
#
ospf 1
 default-route-advertise always
 area 0.0.0.0
  network 10.100.100.0 0.0.0.255
  network 10.200.201.0 0.0.0.255
#
ip route-static 0.0.0.0 0.0.0.0 120.168.254.76 track ip-link isp1
ip route-static 0.0.0.0 0.0.0.0 183.230.40.83 track ip-link isp2
ip route-static 120.168.254.26 255.255.255.255 NULL0
ip route-static 183.230.40.106 255.255.255.255 NULL0
#
ipv6 route-static :: 0 Tunnel0 preference 100
ipv6 route-static :: 0 Tunnel1 preference 120
#
undo ssh server compatible-ssh1x enable
ssh authentication-type default password
ssh server cipher aes256_ctr aes128_ctr
ssh server hmac sha2_256 sha1
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256 sha1
#
firewall detect ftp
#
user-interface con 0
 authentication-mode aaa
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
user-interface vty 16 20
#
pki realm default
#
sa
#
location
#
nat address-group 1 0
 mode pat
 section 0 120.168.254.25 120.168.254.25
#
nat address-group 2 1
 mode pat
 section 0 183.230.40.88 183.230.40.88
#
multi-linkif
 mode proportion-of-weight
#
right-manager server-group
#
device-classification
 device-group pc
 device-group mobile-terminal
 device-group undefined-group
#
user-manage server-sync tsm
#
security-policy
 rule name trust-isp
  source-zone trust
  destination-zone isp1
  destination-zone isp2
  source-address 192.168.0.0 mask 255.255.0.0
  source-address 2002:78A8:FE16:10:: 64
  source-address 2002:78A8:FE16:20:: 64
  source-address 2002:78A8:FE16:30:: 64
  source-address 2002:78A8:FE16:40:: 64
  source-address 2002:78A8:FE16:50:: 64
  action permit
 rule name ipv6
  source-zone isp1
  source-zone isp2
  source-zone local
  destination-zone isp1
  destination-zone isp2
  destination-zone local
  action permit
 rule name test_88
  source-zone isp1
  source-zone isp2
  source-zone local
  destination-zone trust
  destination-address 192.168.10.88 mask 255.255.255.255
  action permit
 rule name test_88_2
  source-zone isp2
  destination-zone trust
  destination-address 192.168.10.88 mask 255.255.255.255
  action permit
 rule name allow_ipv6_out
  source-zone trust
  destination-zone isp1
  destination-zone isp2
  source-address 2002:78A8:FE16:100:: 64
  action permit
 rule name trust_ipv6
  source-zone trust
  destination-zone isp1
  destination-zone isp2
  destination-zone local
  source-address 192.168.0.0 mask 255.255.0.0
  action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
 rule name pbr1 1
  source-zone trust
  source-address 192.168.10.0 0.0.0.255
  source-address 192.168.20.0 0.0.0.255
  track ip-link isp1
  action pbr next-hop 120.168.254.76 
 rule name pbr2 2
  source-zone trust
  source-address 192.168.30.0 0.0.0.255
  source-address 192.168.40.0 0.0.0.255
  source-address 192.168.50.0 0.0.0.255
  track ip-link isp2
  action pbr next-hop 183.230.40.83 
#
nat-policy
 rule name isp1_to_88
  source-zone isp1
  destination-address 120.168.254.26 mask 255.255.255.255
  action destination-nat static address-to-address address-group addressgroup88 
 rule name isp2_to_88
  source-zone isp2
  destination-address 183.230.40.106 mask 255.255.255.255
  action destination-nat static address-to-address address-group addressgroup88 
 rule name trust-isp1
  source-zone trust
  destination-zone isp1
  source-address 192.168.10.0 mask 255.255.255.0
  source-address 192.168.20.0 mask 255.255.255.0
  source-address 192.168.30.0 mask 255.255.255.0
  source-address 192.168.40.0 mask 255.255.255.0
  source-address 192.168.50.0 mask 255.255.255.0
  action source-nat address-group 1
 rule name trust-isp2
  source-zone trust
  destination-zone isp2
  source-address 192.168.10.0 mask 255.255.255.0
  source-address 192.168.20.0 mask 255.255.255.0
  source-address 192.168.30.0 mask 255.255.255.0
  source-address 192.168.40.0 mask 255.255.255.0
  source-address 192.168.50.0 mask 255.255.255.0
  action source-nat address-group 2
#
quota-policy
#
pcp-policy
#
dns-transparent-policy
#
rightm-policy
#
return  